

.menu-navigation-icons {
    height: 657px;
    width: 100%px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 
    background: #d4e851;
    background: -webkit-linear-gradient(bottom, rgba(179, 255, 0, 0.288), rgba(211, 208, 32, 0.877), rgb(179, 255, 0, 0.288));
    background: -o-linear-gradient(bottom, rgb(179, 255, 0, 0.288), rgba(235, 232, 87, 0.808), rgb(179, 255, 0, 0.288));
    background: -moz-linear-gradient(bottom, rgb(179, 255, 0, 0.288),rgb(211, 208, 32, 0.877), rgb(179, 255, 0, 0.288));
    background: linear-gradient(bottom, rgb(179, 255, 0, 0.288), rgba(235, 232, 87, 0.808), rgb(179, 255, 0, 0.288));
    opacity: 0.8;
}

.imagemfundo{
    width: 100%;
    background-image: url('../imagens/2674659.png');
	background-repeat: no-repeat;
    background-size: cover;
   
}


.menu-navigation-icons a {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: #232526;
    font-size: 90px;
    font-weight: bold;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    width: 136px;
    height: 109px;
}



.menu-navigation-icons a:hover{
    opacity:0.92;
}

.menu-navigation-icons a i {
    display: block;
    line-height: 2;
}

.menu-navigation-icons a span {
    display: block;
    font-size: 30px;
    font-weight: bold;
    line-height: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}



/* Menu colors */
.menu-navigation-icons a.menu-blue		{ background: #1f6616;
    background: -webkit-linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(1, 70, 7));
    background: -o-linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(3, 231, 21));
    background: -moz-linear-gradient(bottom, rgb(8, 58, 4),rgb(9, 68, 4, 0.45), rgb(1, 70, 7));
    background: linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(3, 231, 21));
    position: absolute;
    width: 270px;
    height: 250px;
    left: 92px;
    top: 225px;
    opacity: 10.1;

}
.menu-navigation-icons a.menu-blue i	{ color: rgb(255, 255, 255);
   
}



.menu-navigation-icons a.menu-green		{ background: #1f6616;
    background: -webkit-linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(1, 70, 7));
    background: -o-linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(3, 231, 21));
    background: -moz-linear-gradient(bottom, rgb(8, 58, 4),rgb(9, 68, 4, 0.45), rgb(1, 70, 7));
    background: linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(3, 231, 21));
    position: absolute;
    width: 270px;
    height: 250px;
    left: 390px;
    top: 225px;
}
.menu-navigation-icons a.menu-green i	{ color: rgb(255, 255, 255); 
   

}

.menu-navigation-icons a.menu-yellow	{ background: #1f6616;
    background: -webkit-linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(1, 70, 7));
    background: -o-linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(3, 231, 21));
    background: -moz-linear-gradient(bottom, rgb(8, 58, 4),rgb(9, 68, 4, 0.45), rgb(1, 70, 7));
    background: linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(3, 231, 21));
    position: absolute;
    width: 270px;
    height: 250px;
    left: 688px;
    top: 225px;
}
.menu-navigation-icons a.menu-yellow i	{ color: rgb(255, 255, 255);
    
}

.menu-navigation-icons a.menu-red 		{ background: #1f6616;
    background: -webkit-linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(1, 70, 7));
    background: -o-linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(3, 231, 21));
    background: -moz-linear-gradient(bottom, rgb(8, 58, 4),rgb(9, 68, 4, 0.45), rgb(1, 70, 7));
    background: linear-gradient(bottom, rgb(8, 58, 4), rgba(9, 68, 4, 0.45), rgb(3, 231, 21));
    position: absolute;
    width: 270px;
    height: 250px;
    left: 990px;
    top: 225px;
}
.menu-navigation-icons a.menu-red i		{ color: rgb(255, 255, 255) }



.slicknav_menu {
    display:none;
}

@media (max-width: 800px) {
    .menu-navigation-icons{
        display:none;
    }

    .slicknav_nav a i {
        display: none;
    }

    .slicknav_menu {
        display:block;
    }
}
